<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container">
  <div class="row flex-lg-nowrap">

    <div class="col">
      <div class="row flex-lg-nowrap">
        <div class="col mb-3">
          <div class="e-panel card">
            <div class="card-body">
              <div class="card-title">
                <h6 class="mr-2"><span>José Daniel Conejos Jiménez</span></h6>
              </div>
              <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Title</th>
                      <th>User ID</th>
                      <th> Completed </th>
                      <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let todo of todoList; let indexOfelement=index" id="tableId_{{todo.id}}">
                          <td class="text-nowrap align-middle"><span>{{todo.title}}</span></td>
                          <td class="text-nowrap align-middle"><span>{{todo.userId}}</span> </td>
                          <td class="text-nowrap align-middle"><span>{{todo.completed}}</span></td>
                          <td class="text-nowrap align-middle">
                            <a data-bs-toggle="modal" data-bs-target="#create-form-modal" class="MainNavText" id="editLink"
                               href="#create-form-modal" (click)="resetText(); setRequestType('put'); selectElement(todo.id, indexOfelement)"> edit</a> /
                            <a data-bs-toggle="modal" data-bs-target="#deleteModal" class="MainNavText" id="deleteLink"
                               href="#deleteModal" (click)="selectElement(todo.id, indexOfelement)"> delete</a>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-center">
                  <ul class="pagination mt-3 mb-0">
                    <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                    <li class="active page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">›</a></li>
                    <li class="page-item"><a href="#" class="page-link">»</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-center px-xl-3">
                <button class="btn btn-success btn-block" type="button" data-bs-toggle="modal" data-bs-target="#modalLoginForm">{{loggedUser != '' ? loggedUser : 'Log In'}}</button>
              </div>
              <hr class="my-3">
              <div class="text-center px-xl-3">
                <button class="btn btn-success btn-block" type="button" data-bs-toggle="modal" data-bs-target="#create-form-modal" (click)="resetText(); setRequestType('post')">New Todo</button>
              </div>
              <hr class="my-3">
              <div>
                <div class="form-group">
                  <label>User Id:</label>
                  <div>
                    <input id="user_id_imput" class="form-control" #box (keyup)="userIdBoxChange(box.value)" placeholder="Type here a number > 0" type="number" min="1">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- create/edit modal -->
      <div id="create-form-modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">{{ requestType == 'post' ? 'New' : 'Edit'}} Todo</h1>
            </div>
            <div class="modal-body">
              <form [formGroup]="createForm" (ngSubmit)="onSubmit()" role="form" action="">
                <div class="form-group">
                  <label class="control-label">User Id</label>
                  <div>
                    <input
                      [class.is-invalid]="createForm.get('userId')?.touched && createForm.get('userId')?.invalid"
                      type="number" class="form-control" formControlName="userId" value="{{requestType=='put' ? todoList[selectedRowIndex].userId : ''}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label">Title</label>
                  <div>
                    <input
                      [class.is-invalid]="createForm.get('title')?.touched && createForm.get('title')?.invalid"
                      type="text" class="form-control" formControlName="title" value="{{requestType=='put' ? todoList[selectedRowIndex].title : ''}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label">Completed</label>
                  <div>
                    <input type="checkbox" class="form-check" formControlName="completed" [checked]="requestType=='put' ? todoList[selectedRowIndex].completed : false">
                  </div>
                </div>

                <br>

                <div class="form-group">
                  <button type="submit" class="btn btn-success">{{ requestType == 'post' ? 'Create' : 'Edit'}} Todo</button>
                </div>
                <br>
                <div *ngIf="formText.length != 0" id="createFormText">
                  {{formText}}
                  <br>
                </div>

              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- delete confirmation modal -->
      <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete this todo?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="deleteTodo()" data-bs-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <!-- login modal -->
      <div class="modal fade" id="modalLoginForm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">Login</h1>
            </div>
            <div class="modal-body">
              <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" role="form">
                <div class="form-group">
                  <label class="control-label">Username</label>
                  <div>
                    <input
                      [class.is-invalid]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
                      type="text" class="form-control" formControlName="username">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label">Password</label>
                  <div>
                    <input
                      [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                      type="password" class="form-control" formControlName="password">
                  </div>
                </div>

                <br>

                <div class="form-group">
                  <button type="submit" class="btn btn-success">Log In</button>
                </div>

                <br>
                <div *ngIf="formText.length != 0" id="loginFormText">
                  {{formText}}
                  <br>
                </div>

              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="modal fade" id="modalUnauthorized">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Unauthorised
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
